<section class="thirteen columns">
    <h1>Education</h1>

    <article>
        <header>
            <h1>PhD in Physics, Complex Systems</h1>
            <span>Federal University of Ceará</span>
            <span><address>Ceará, BR</address><time>since Mar 2018 </time></span>
        </header>
    </article>    
    
    <article>
        <header>
            <h1>MSc in Physics, Complex Systems</h1>
            <span>Federal University of Ceará</span>
            <span><address>Ceará, BR</address><time>Mar 2016 – Feb 2018</time></span>
        </header>
        <p>
            <em>Master thesis: Estudo de redes complexas e Mecânica Estatística não-extensiva.</em><br>
				<b>(Complex networks and non-extensive Statistical Mechanics).</b>
        </p>
    </article>
    
    <article>
        <header>
            <h1>BSc in Physics</h1>
            <span>Federal University of Ceará</span>
            <span><address>Ceará, BR</address><time>Mar 2012 – Feb 2016</time></span>
        </header>
        <p>
            <em>Bachelor thesis: Percolação e Criticalidade Auto-Organizada.</em><br>
            <b>(Percolation and Self Organized Critically).</b>
        </p>
    </article>
</section>